span {
  margin-left: 15px;
}
.cart {
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 15px;
}
.cart img {
  width: 100px;
  height: 90px;
}
.btn-cart {
  background-color: darkgrey;
  font-size: small;
  font-weight: 600;
  padding: 8px 16px;
}
